# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules

*.log
.DS_Store

# Secrets
firebase-service-account.json
# Ignore any locally added firebase config with keys
data/firebase-config.js
